################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MiniSalesApp/MiniSalesApp/obj/Release/net5.0-windows
/MiniSalesApp/MiniSalesApp/bin/Release/net5.0-windows
/BuberDinner/BuberDinner.Api/bin/Debug/net5.0
/BuberDinner/BuberDinner.Api/obj
/BuberDinner/BuberDinner.Application/bin/Debug/net5.0
/BuberDinner/BuberDinner.Application/obj
/BuberDinner/BuberDinner.contracts/bin/Debug/net5.0
/BuberDinner/BuberDinner.contracts/obj
/BuberDinner/BuberDinner.Domain/bin/Debug/net5.0
/BuberDinner/BuberDinner.Domain/obj
/BuberDinner/BuberDinner.InfraStructure/bin/Debug/net5.0
/BuberDinner/BuberDinner.InfraStructure/obj
/MiniSalesApp/MiniSalesApp.Installer
/MiniSalesApp/.vs/ProjectEvaluation
/MiniSalesApp/.vs/MiniSalesApp/v17
/MiniSalesApp/.vs/MiniSalesApp/FileContentIndex
/HotelReservation/HotelReservation/bin/Debug/net6.0
/.vs/BedayaRepo/v16
/.vs/BedayaRepo/v17
/BuberDinner/.vs
/HotelReservation/.vs
/HotelReservation/HotelReservation/obj
/HotelReservation2/HotelReservation2/bin/Debug/netcoreapp3.1
/RecipeBookAndShoppingList/.vscode
/UniversityProfUnit/.vs
/UniversityProfUnit/UniversityProfUnit/bin/Debug/netcoreapp3.1
/UniversityProfUnit/UniversityProfUnit/obj
/AuthenticationProject/.vs
/AuthenticationProject/AuthenticationProject/bin/Debug/net6.0
/AuthenticationProject/AuthenticationProject/obj
/HotelReservationWithAuthentication/.vs
/HotelReservationWithAuthentication/HotelReservation/bin/Debug/net6.0
/HotelReservationWithAuthentication/HotelReservation/obj/Debug/net6.0
/HotelReservationWithAuthentication/HotelReservation/obj
/WebPWrecover/bin/Debug/net6.0
/WebPWrecover/obj/Debug/net6.0
/WebPWrecover/obj
/AuthenticationAndAuthorization/AuthenticationAndAuthorization/bin/Debug/net6.0
/AuthenticationAndAuthorization/AuthenticationAndAuthorization/obj
/AuthenticationAndAuthorization/.vs
